Repository bakdata/template-python-poetry: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, ruff-lint, ruff-format, pyright

poetry-check:
  name: poetry-check
  description: run poetry check to validate config
  entry: poetry check
  language: python
  pass_filenames: false

ruff-lint:
  name: ruff-lint
  entry: ruff check
  args:
  - --force-exclude
  - --config
  - pyproject.toml
  - --fix
  - --show-fixes
  - --exit-non-zero-on-fix
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  args:
  - --force-exclude
  - --config
  - pyproject.toml
  language: system
  require_serial: true

pyright:
  name: pyright
  entry: pyright
  language: system
  require_serial: true

Include Poetry lockfile in files regex
  .pre-commit-config.yaml
Due: none

Ensure Poetry install after merge or checkout using pre-commit
  .pre-commit-config.yaml
Due: none

Update description
  .pre-commit-config.yaml
Due: none

Add to CI
  .github/workflows/ci.yaml
Due: none

Check before install
  .github/workflows/ci.yaml
Due: none

Ensure Poetry check using pre-commit (#6)
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
Due: none

Ensure Poetry install after merge or checkout using pre-commit (#7)
  .pre-commit-config.yaml
Due: none

Fix order of CI steps
  .github/workflows/ci.yaml
Due: none

Fix order of CI steps (#8)
  .github/workflows/ci.yaml
Due: none

Update template for release
  .github/workflows/publish.yaml
  .github/workflows/release.yaml
Due: none

Update template for release (#29)
  .github/workflows/publish.yaml
  .github/workflows/release.yaml
Due: none

Fix deprecated ruff output-format
  .github/workflows/ci.yaml
Due: none

Try output format github
  .github/workflows/ci.yaml
Due: none

Test
  package_name/__init__.py
Due: ruff-lint, ruff-format, pyright

Delete Ruff problem matcher
  .github/ruff-matcher.json
Due: none

Revert "Test"
  package_name/__init__.py
Due: ruff-lint, ruff-format, pyright

Update Pyright with Node.js extra
  poetry.lock
  pyproject.toml
Due: poetry-check

Update Pyright with Node.js extra (#77)
  poetry.lock
  pyproject.toml
Due: poetry-check

Run pre-commit hooks inside Poetry env
  .pre-commit-config.yaml
Due: none

Run pre-commit hooks inside Poetry env (#92)
  .pre-commit-config.yaml
Due: none

bump: changelog action
  .github/workflows/release.yaml
Due: none

bump: changelog action (#93)
  .github/workflows/release.yaml
Due: none

Set Dependabot versioning strategy for Poetry
  .github/dependabot.yml
Due: none

Set Dependabot versioning strategy for Poetry (#94)
  .github/dependabot.yml
Due: none

Colocate Python versions for conditional ruff check Github annotations
  .github/workflows/ci.yaml
Due: none

Remove runner OS check, runner can only be ubuntu
  .github/workflows/ci.yaml
Due: none

Trigger ruff lint
  tests/test_stub.py
Due: ruff-lint, ruff-format, pyright

Revert "Trigger ruff lint"
  tests/test_stub.py
Due: ruff-lint, ruff-format, pyright

Colocate Python versions for conditional ruff Github annotations (#98)
  .github/workflows/ci.yaml
Due: none

Support Python 3.13
  .github/workflows/ci.yaml
  .github/workflows/publish.yaml
  .github/workflows/release.yaml
Due: none

Support Python 3.13 (#99)
  .github/workflows/ci.yaml
  .github/workflows/publish.yaml
  .github/workflows/release.yaml
Due: none

Avoid confusion about lint workflow for GitHub CI components
  .github/workflows/meta-lint.yaml
Due: none

Use imperative
  .github/workflows/meta-lint.yaml
Due: none

Avoid confusion about lint workflow for GitHub CI components (#110)
  .github/workflows/meta-lint.yaml
Due: none

Configure Pyright to report import cycles
  pyproject.toml
Due: poetry-check

Configure Pyright to report import cycles (#122)
  pyproject.toml
Due: poetry-check

Add .gitignore
  .gitignore
Due: none

Update for use with Poetry v2
  .github/workflows/ci.yaml
  .github/workflows/publish.yaml
  .github/workflows/release.yaml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
  poetry.lock
  pyproject.toml
Due: poetry-check

Update for use with Poetry v2 (#154)
  .github/workflows/ci.yaml
  .github/workflows/publish.yaml
  .github/workflows/release.yaml
  .gitignore
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
  poetry.lock
  pyproject.toml
Due: poetry-check

Path conditions:
  poetry-check: any of: ^(.*/)?pyproject\.toml$
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  pyright: any of: \.py$
